In [1]:
import sys
sys.path 
req_link = '/Users/ravirao/anaconda/lib/python3.5/site-packages/python-louvain-0.3'
sys.path.append(req_link)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys #only needed to determine Python version number
import matplotlib as plot#only needed to determine Matplotlib version number
import os, datetime
import re
import networkx as nx
#import community

# Enable inline plotting
%matplotlib inline

In [3]:
#read the main data#replaced 2004 w 2012
df = pd.read_csv('./Documents/donation_data/contri_all_2012_clean.csv', sep=',', header=0,
                 usecols= ["contributor_name","contributor_type",'amount','recipient_name',
                           'recipient_state','seat','recipient_type','recipient_party','contributor_cfscore',
                           'candidate_cfscore','winner','ran.general'],
                 dtype={'contributor_name':str,
                        'contributor_type': str,
                        'amount':pd.np.float64,
                        'recipient_name':str,
                        'recipient_state':str,
                        'seat': str,
                        'recipient_type':str,
                        'recipient_party':str,
                        'contributor_cfscore':pd.np.float64,
                        'candidate_cfscore':pd.np.float64,
                        'winner':str,
                        'ran.general':pd.np.float64,},
                    na_values=['n/a']
                  )

In [4]:
df.head()

,contributor_name,contributor_type,amount,recipient_name,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran.general
0,"BALLMER, STEVEN A",I,1000.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,0.018632,-0.664854,NaN,0.0
1,"BROWN, MCARTHUR",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.551110,-0.664854,NaN,0.0
2,"DENNIS, JAMES",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.706451,-0.664854,NaN,0.0
3,"GLAZE, STEVE",I,1000.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.531374,-0.664854,NaN,0.0
4,"HARGETT, WILLIAM J",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.201310,-0.664854,NaN,0.0

In [5]:
print(len(df))

3941068

In [6]:
df.rename(columns={'ran.general': 'ran_general'}, inplace=True)
df.head()

,contributor_name,contributor_type,amount,recipient_name,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general
0,"BALLMER, STEVEN A",I,1000.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,0.018632,-0.664854,NaN,0.0
1,"BROWN, MCARTHUR",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.551110,-0.664854,NaN,0.0
2,"DENNIS, JAMES",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.706451,-0.664854,NaN,0.0
3,"GLAZE, STEVE",I,1000.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.531374,-0.664854,NaN,0.0
4,"HARGETT, WILLIAM J",I,500.0,"SHULER, JOSEPH H",NC,federal:house,CAND,100,-0.201310,-0.664854,NaN,0.0

In [7]:
df=df[df['ran_general']==1]
df.head()

,contributor_name,contributor_type,amount,recipient_name,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general
795,"AHL, THOMAS W",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.014089,1.16618,W,1.0
796,"ALEXANDER, DON C",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.061215,1.16618,W,1.0
797,"BARHORST, DOUGLAS L",I,1000.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.043339,1.16618,W,1.0
798,"BAUGHMAN, CLIFF",I,200.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.153245,1.16618,W,1.0
799,"BAYLISS, C WILLIAM",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,0.954192,1.16618,W,1.0

In [8]:
df=df[df['contributor_type']=="I"]#Individual vs. C for committee/org
df.head()

,contributor_name,contributor_type,amount,recipient_name,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general
795,"AHL, THOMAS W",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.014089,1.16618,W,1.0
796,"ALEXANDER, DON C",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.061215,1.16618,W,1.0
797,"BARHORST, DOUGLAS L",I,1000.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.043339,1.16618,W,1.0
798,"BAUGHMAN, CLIFF",I,200.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,1.153245,1.16618,W,1.0
799,"BAYLISS, C WILLIAM",I,250.0,"JORDAN, JAMES D",OH,federal:house,CAND,200,0.954192,1.16618,W,1.0

In [9]:
group1=df.groupby('contributor_name')
df_group1=group1.agg({'amount' : np.sum, 'recipient_name' : lambda x: "%s" % ',, '.join(x)})
df_group1.head()

                    amount      recipient_name
contributor_name
 BASSI, JOHN A       500.0      BROWN, SCOTT P
& ASSOCIATES, TAIT   250.0  SHUSTER, WILLIAM F
& G EQUIPMENT, B    1000.0       HARPER, GREGG
& PAT MEYER, DAVE     25.0      BALDWIN, TAMMY
----, COLLEEN          5.0    SANDERS, BERNARD

In [10]:
df_group1=df_group1.reset_index()
print(len(df_group1))

813104

In [11]:
df_copy=df.drop(['amount','recipient_name'],1)
df_copy.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general
795,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0
796,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0
797,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0
798,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0
799,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0

In [12]:
df_house_main=pd.merge(df_copy, df_group1, on='contributor_name', how='inner')
df_house_main.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
1,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
2,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
3,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
4,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."

In [13]:
df_no_dup=df_house_main.drop_duplicates(['contributor_name'])#,'recipient_state','winner', 'recipient_party'])
df_no_dup.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
7,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D"
8,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
11,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
18,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D"

In [14]:
df_no_dup=df_no_dup.reset_index()
df_no_dup.head()

,index,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name
0,0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
1,7,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D"
2,8,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
3,11,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
4,18,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D"

In [15]:
df_no_dup=df_no_dup.drop('index',1)
df_no_dup.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
1,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D"
2,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
3,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
4,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D"

In [16]:
df=df_no_dup
df.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
1,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D"
2,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
3,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA..."
4,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D"

In [17]:
def clean_recipient_set(row):
    name=row['recipient_name']
    return list(set(name.split(',,')))

In [18]:
y=df.apply(clean_recipient_set, axis=1)
y.head()

0    [JORDAN, JAMES D,  BOEHNER, JOHN ANDREW,  JORD...
1                                    [JORDAN, JAMES D]
2                  [JORDAN, JAMES D,  JORDAN, JAMES D]
3                  [JORDAN, JAMES D,  JORDAN, JAMES D]
4                  [JORDAN, JAMES D,  JORDAN, JAMES D]
dtype: object

In [19]:
y1=pd.DataFrame(y, columns=['unique_corecips'])
y1.head()

                                     unique_corecips
0  [JORDAN, JAMES D,  BOEHNER, JOHN ANDREW,  JORD...
1                                  [JORDAN, JAMES D]
2                [JORDAN, JAMES D,  JORDAN, JAMES D]
3                [JORDAN, JAMES D,  JORDAN, JAMES D]
4                [JORDAN, JAMES D,  JORDAN, JAMES D]

In [20]:
df=pd.concat([df,y1], axis=1)
df.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name,unique_corecips
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, BOEHNER, JOHN ANDREW, JORD..."
1,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D","[JORDAN, JAMES D]"
2,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, JORDAN, JAMES D]"
3,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, JORDAN, JAMES D]"
4,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D","[JORDAN, JAMES D, JORDAN, JAMES D]"

In [21]:
def number_unique_corecips(row):
    return len(row['unique_corecips'])

In [22]:
y2=df.apply(number_unique_corecips, axis=1)
y2.head()

0    3
1    1
2    2
3    2
4    2
dtype: int64

In [23]:
y3=pd.DataFrame(y2, columns=['number_unique_corecips'])
y3.head()

   number_unique_corecips
0                       3
1                       1
2                       2
3                       2
4                       2

In [24]:
df=pd.concat([df,y3], axis=1)
df.head()

,contributor_name,contributor_type,recipient_state,seat,recipient_type,recipient_party,contributor_cfscore,candidate_cfscore,winner,ran_general,amount,recipient_name,unique_corecips,number_unique_corecips
0,"AHL, THOMAS W",I,OH,federal:house,CAND,200,1.014089,1.16618,W,1.0,4575.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, BOEHNER, JOHN ANDREW, JORD...",3
1,"ALEXANDER, DON C",I,OH,federal:house,CAND,200,1.061215,1.16618,W,1.0,250.0,"JORDAN, JAMES D","[JORDAN, JAMES D]",1
2,"BARHORST, DOUGLAS L",I,OH,federal:house,CAND,200,1.043339,1.16618,W,1.0,2250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, JORDAN, JAMES D]",2
3,"BAUGHMAN, CLIFF",I,OH,federal:house,CAND,200,1.153245,1.16618,W,1.0,3250.0,"JORDAN, JAMES D,, JORDAN, JAMES D,, JORDAN, JA...","[JORDAN, JAMES D, JORDAN, JAMES D]",2
4,"BAYLISS, C WILLIAM",I,OH,federal:house,CAND,200,0.954192,1.16618,W,1.0,750.0,"JORDAN, JAMES D,, JORDAN, JAMES D","[JORDAN, JAMES D, JORDAN, JAMES D]",2

In [25]:
#read the race file and joining it with prev dataframe
#This is the co recipient graph, so forget the race file - need to use the donor file.
df_race = pd.read_csv('./Documents/donation_data/donor_list_2012_clean.csv', sep=',', header=0,
                 usecols= ['contributor_name'],
                 dtype={'name':str,},
                    na_values=['n/a']
                  )
df_race.head()

                                    contributor_name
0                                    WORKING AMERICA
1  ASSOCIATION OF AMERICAN RAILROADS POLITICAL AC...
2  EMPLOYERS HEALTH INSURANCE POLITICAL ACTION CM...
3  MISSISSIPPI POWER COMPANY EMPLOYEES COMMITTEE ...
4                                          CIGAR PAC

In [26]:
#it's already the 2012 list

#df_race=df_race[df_race['year']==2012]#replaced 2004 w 2012
#df_race.head()

In [27]:
#df_race=df_race[np.isfinite(df_race['dis_opp'])]
#df_race.head()

In [28]:
names=list(df['contributor_name'])
print(len(names))

813104

In [29]:
names_race=list(df_race['contributor_name'])
print(len(names_race))

7063281

In [30]:
common = list(set(names) & set(names_race))
        
print(len(common))

443057

In [31]:
df_common=df.loc[df['contributor_name'].isin(common)]
print(len(common))
print(len(df_common))


df_common=df_common.drop_duplicates(subset='contributor_name', keep="last")
print(len(df_common))

443057
443057
443057

In [32]:
race_common=df_race.loc[df_race['contributor_name'].isin(common)]
race_common=race_common.drop_duplicates(subset='contributor_name', keep="last")
print(len(race_common))

TypeError: '>' not supported between instances of 'str' and 'float'

In [ ]:
race_common.head()

In [ ]:
#race_common['dis_opp']=abs(race_common['dis_opp'])
#race_common.head()

In [ ]:
race_common=race_common.reset_index()
race_common.head()

In [ ]:
race_common=race_common.drop(['index'],1)
race_common.head()

In [ ]:
race_common.rename(columns={'name': 'contributor_name'}, inplace=True)

In [ ]:
final=pd.merge(race_common, df_common, on='contributor_name', how='inner')
final.head()

In [ ]:
#reading the state-ideo map data to join it with previous dataframe
'''
df_region = pd.read_csv('./Documents/donation_data/candidate_race_distance_state_ideology.csv', sep=',', header=0,
                 usecols= ['year','name','class'],
                 dtype={'name':str,
                        'year':pd.np.float64,
                        'class':str},
                    na_values=['n/a']
                  )
df_region.head()
'''

In [ ]:
'''
df_region=df_region[df_region['year']==2012]#replaced 2004 w 2012
print(len(df_region))
'''

In [ ]:
'''
region_common=df_region.loc[df_region['name'].isin(common)]
print(len(region_common))
'''

In [ ]:
'''
region_common.rename(columns={'name': 'recipient_name'}, inplace=True)
'''

In [ ]:
'''
region_common=region_common.reset_index()
region_common.head()
'''

In [ ]:
'''
region_common=region_common.drop(['index','year'],1)
region_common.head()
'''

In [ ]:
#don't need third merge
main1=final

In [ ]:
main=main1.drop(['recipient_name'],1)
main.head()

In [ ]:
#main.rename(columns={'class': 'region'}, inplace=True)

In [ ]:
#writing data as a csv or txt file (I ran both so both files exist in JieGaoResearch)
#the csv file doesn't come out right bc it assumes comma separated. Would need to change the 'sep' tag too to make that work
main.to_csv(path_or_buf='new_individual_recipients_2012.txt',header=True, index=False, sep='\t')

In [ ]:
main=main.reset_index()
main.head()

In [ ]:
main=main.drop(['index'],1)
main.head()

In [ ]:
#There were simply way too many contributors. Made this run suuuper slow since it needs to check edges with all of the
#other nodes. Need to filter out BEFOREHAND, not during, all of the low values for number_unique_corecips.
main= main[main.number_unique_corecips >= 50]
print(len(main))

In [ ]:
H1=nx.Graph()

main = main.fillna('')

import pdb

for i in range(0, len(main)):

    recipient_contributors_1=main.iloc[i]['unique_corecips']
    recipient_number_of_contributers_1=int(main.iloc[i]['number_unique_corecips'])
    recipient_name_1=main.iloc[i]['contributor_name']
    recipient_amount_1=int(main.iloc[i]['amount'])
    #recipient_party_1=main.iloc[i]['recipient_party']
    #recipient_region_1=main.iloc[i]['region']
    #recipient_win_1=str(main.iloc[i]['winner'])
    #Wrote the following bc I was getting - ValueError: could not convert string to float: 
    #but now I'm getting another error... so I'll change it to just be the column, with an occassional str
    
    recipient_ideo_1=main.iloc[i]['contributor_cfscore']
    #try 2: recipient_ideo_1 = main.iloc[i]['contributor_cfscore'].apply(lambda x: float(x.split()[0].replace(',', '')))
    #try 1: recipient_ideo_1=float(main.iloc[i]['contributor_cfscore'])
    #recipient_race_1=float(main.iloc[i]['dis_opp'])
    
    
    
    '''#These are the names they should be, but not gonna change them all rn. Just the literal rightmost parts.
    contributor_recips_1=main.iloc[i]['unique_corecips']
    contributor_number_of_recips_1=int(main.iloc[i]['number_unique_corecips'])
    contributor_name_1=main.iloc[i]['contributor_name']
    contributor_amount_1=int(main.iloc[i]['amount'])
    #contributor_party_1=main.iloc[i]['recipient_party']
    #contributor_region_1=main.iloc[i]['region']
    #contributor_win_1=str(main.iloc[i]['winner'])
    contributor_ideo_1=float(main.iloc[i]['candidate_cfscore'])
    #recipient_race_1=float(main.iloc[i]['dis_opp'])
    
    '''
    
    if i%1000==0:
        print("Node no: ", i, recipient_number_of_contributers_1)
    if recipient_number_of_contributers_1>=50:
        print("High val, Add node no: ", i, recipient_number_of_contributers_1)
        
    if recipient_number_of_contributers_1<50 or recipient_contributors_1 == '' or recipient_name_1 == '':
        continue
        
    
    if recipient_name_1 in H1:
        for j in range(0, len(main)):
            
            recipient_contributors_2=main.iloc[j]['unique_corecips']
            recipient_number_of_contributers_2=int(main.iloc[j]['number_unique_corecips'])
            recipient_name_2=main.iloc[j]['contributor_name']
            recipient_amount_2=int(main.iloc[j]['amount'])
            #recipient_region_2=main.iloc[j]['region']
            #recipient_party_2=main.iloc[j]['recipient_party']
            #recipient_win_2=str(main.iloc[j]['winner'])
            
            recipient_ideo_2=main.iloc[i]['contributor_cfscore']
            #recipient_ideo_2 = main.iloc[i]['contributor_cfscore'].apply(lambda x: float(x.split()[0].replace(',', '')))
            #recipient_race_2=float(main.iloc[j]['dis_opp'])

            if recipient_contributors_2 == '' or recipient_name_2 == '' or recipient_number_of_contributers_2<50:
                continue

            if recipient_name_2 in H1:
                
                if H1.has_edge(recipient_name_1, recipient_name_2):
                    continue
                else:
                    common=set(recipient_contributors_1).intersection(recipient_contributors_2)
                    num_codonors=int(len(set(recipient_contributors_1).intersection(recipient_contributors_2)))
                    ratio_1=float(num_codonors/recipient_number_of_contributers_1)
                    ratio_2=float(num_codonors/recipient_number_of_contributers_2)
                    if min(ratio_1,ratio_2)>0.1:
                        H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                    elif min(ratio_1,ratio_2)<=0.1:
                        H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                        #pdb.set_trace()
                        #print("No edge!")
           
            elif recipient_name_2 not in H1:
                #deleted some of these fields in add_node
                H1.add_node(recipient_name_2, name=recipient_name_2,
                           number_of_donors=recipient_number_of_contributers_2,
                           amount=recipient_amount_2, ideo=recipient_ideo_2
                           )
                common=set(recipient_contributors_1).intersection(recipient_contributors_2)
                num_codonors=int(len(set(recipient_contributors_1).intersection(recipient_contributors_2)))
                ratio_1=float(num_codonors/recipient_number_of_contributers_1)
                ratio_2=float(num_codonors/recipient_number_of_contributers_2)
                if min(ratio_1,ratio_2)>0.1:
                    H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                elif min(ratio_1,ratio_2)<=0.1:
                    H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                    #pdb.set_trace()
                    #print("No edge!")
        
    elif recipient_name_1 not in H1:
        H1.add_node(recipient_name_1, name=recipient_name_1,
                           number_of_donors=recipient_number_of_contributers_1,
                           amount=recipient_amount_1, ideo=recipient_ideo_1
                           )
        
        if recipient_number_of_contributers_1<50:
                continue
    
        for j in range(0, len(main)):
            recipient_contributors_2=main.iloc[j]['unique_corecips']
            recipient_number_of_contributers_2=int(main.iloc[j]['number_unique_corecips'])
            recipient_name_2=main.iloc[j]['contributor_name']
            recipient_amount_2=int(main.iloc[j]['amount'])
            #recipient_party_2=main.iloc[j]['recipient_party']
            #recipient_region_2=main.iloc[j]['region']
            #recipient_win_2=str(main.iloc[j]['winner'])
            recipient_ideo_2=main.iloc[i]['contributor_cfscore']
            #recipient_ideo_2 = main.iloc[i]['contributor_cfscore'].apply(lambda x: float(x.split()[0].replace(',', '')))
            #recipient_race_2=float(main.iloc[j]['dis_opp'])

            if recipient_contributors_2 == '' or recipient_name_2 == '' or recipient_number_of_contributers_2<50:
                continue

            if recipient_name_2 in H1:
                if H1.has_edge(recipient_name_1, recipient_name_2):
                    continue
                else:
                    common=set(recipient_contributors_1).intersection(recipient_contributors_2)
                    num_codonors=int(len(set(recipient_contributors_1).intersection(recipient_contributors_2)))
                    ratio_1=float(num_codonors/recipient_number_of_contributers_1)
                    ratio_2=float(num_codonors/recipient_number_of_contributers_2)
                    if min(ratio_1,ratio_2)>0.1:
                        H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                    elif min(ratio_1,ratio_2)<=0.1:
                        H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                        #pdb.set_trace()
                        #print("No edge!")
           
            elif recipient_name_2 not in H1:
                H1.add_node(recipient_name_2, name=recipient_name_2,
                           number_of_donors=recipient_number_of_contributers_2,
                           amount=recipient_amount_2, ideo=recipient_ideo_2
                           )
                
                common=set(recipient_contributors_1).intersection(recipient_contributors_2)
                num_codonors=int(len(set(recipient_contributors_1).intersection(recipient_contributors_2)))
                ratio_1=float(num_codonors/recipient_number_of_contributers_1)
                ratio_2=float(num_codonors/recipient_number_of_contributers_2)
                if min(ratio_1,ratio_2)>0.1:
                    H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                elif min(ratio_1,ratio_2)<=0.1:
                    #pdb.set_trace()
                    H1.add_edge(recipient_name_1, recipient_name_2, number_of_codonors=num_codonors)
                    #print("No edge!")

In [ ]:
nx.number_of_nodes(H1)

In [ ]:
nx.number_of_edges(H1)

In [ ]:
self=H1.selfloop_edges()

In [ ]:
H1.remove_edges_from(self)

In [ ]:
nx.number_of_edges(H1)

In [ ]:
nx.density(H1)

In [ ]:
nx.write_edgelist(H1, "co_recip_graph.txt", delimiter='\t!\t')
print('written')

In [ ]:
num_corecips_list = []
for e in H1.edges(data=True):
    #e is a tuple
    temp = (e[2])['number_of_codonors']
    num_corecips_list.append(temp)
    if type(temp) != int:
        print('str:',temp)

#want to plot distribution of num_codonors, each element of which is a value in the affinity matrix


import matplotlib.pyplot as plt
import numpy as np

data = sorted(num_corecips_list)
plt.hist(data, bins=20)


plt.show()

print('done')
#np.logspace(np.log10(0.1),np.log10(1.0),50)

In [ ]:
list_of_edges = [] 
for e in H1.edges(data=True):
    temp = (e[2])['number_of_codonors']
    list_of_edges.append(e)
list_of_edges = sorted(list_of_edges, key=lambda tup: tup[2]['number_of_codonors'])#sort by number of codonors

num_edges = len(list_of_edges)
print(num_edges)
print(float(.05*num_edges))
high_bkt = []#all edges above the 5% mark
high_cutoff = num_edges - float(.05*num_edges)
mid_bkt = []
mid_cutoff = num_edges - float(.3*num_edges)
low_bkt = []

for e in range(num_edges):
    if e >= high_cutoff:
        high_bkt.append(list_of_edges[e])
    elif e >= mid_cutoff:
        mid_bkt.append(list_of_edges[e])
    else:
        low_bkt.append(list_of_edges[e])
        
#print(high_bucket)
print(len(high_bkt))
print(len(mid_bkt))
print(len(low_bkt))

In [ ]:
#randomly sample say 50 from each bucket. Then google query code will do 150 edges = 450 queries. Test a couple first.
#random_nums = np.random.choice(len(high_bkt), 50, replace=False)#no replacement- want unique ones.
#let's just randomly sample the entire thing as a list, then take the first 50 - in case we want to do more later.
random_nums = np.random.choice(len(high_bkt), len(high_bkt), replace=False)#sampled the ENTIRE thing randomly
high_50 = random_nums[:33]#took the first 50 of the random order
print(high_50)
random_nums2 = np.random.choice(len(mid_bkt), len(mid_bkt), replace=False)
mid_50 = random_nums2[:33]
print(mid_50)
random_nums3 = np.random.choice(len(low_bkt), len(low_bkt), replace=False)
low_50 = random_nums3[:33]
print(low_50)

high_edges_to_sample = []
mid_edges_to_sample = []
low_edges_to_sample = []

for i in high_50:
    high_edges_to_sample.append(high_bkt[i])
for j in mid_50:
    mid_edges_to_sample.append(mid_bkt[i])
for k in low_50:
    low_edges_to_sample.append(low_bkt[i])
    
all_edges_to_sample = high_edges_to_sample + mid_edges_to_sample + low_edges_to_sample
print(len(all_edges_to_sample))

#print('done')

In [ ]:
#code for methods for performing the google queries- see JaccardQueriesV2.ipynb
#did ulimit -n 2048 in terminal (actually 512)
#see https://stackoverflow.com/questions/39537731/errno-24-too-many-open-files-but-i-am-not-opening-files
#OSError: [Errno 24] Too many open files: '/Users/ravirao/anaconda/lib/python3.5/site-packages/googleapiclient/__init__.py'
#Turns out the error was on their side, their server

#V2 returns a list, and has a method to print out the contents of the list.
#V3 (or maybe i'll do it in this doc) will be the one I will prob use overall - read a csv file,
#randomly decide which ppl to take,
#check if they've already been done before querying each of the 3 possibilities, etc.

#this link was very helpful:
#https://stackoverflow.com/questions/37083058/programmatically-searching-google-in-python-using-custom-search
#I was having trouble creating the custom search engine in the first place, as detailed more in my notes
#but I got it, and an API key, and now I think I can just use the API in python
import sys
sys.version
print(sys.version_info)
#this is python 3.5, so why can't I access the googleapiclient module? I ran the command:
#pip install --upgrade google-api-python-client
#so it should work


import pandas as pd
import numpy as np
from __future__ import division


import pprint

from googleapiclient.discovery import build

#Search engine ID for the custom search engine I created (Political Candidates Jaccard Index Queries):
#017540791571327827296:xy6h11dupmm

#The API key is different; I thought it would have to be connected with my custom search engine upon generation but it wasn't
#Oh, I have to use my search engine ID as input as well.

my_api_key = "AIzaSyCNO5wrFa5RcehkMyY6rxrkjlHVFaJ4rF4"
my_cse_id = "012951132720784451195:aybfyk7h8wm"

#These three methods will assume you've already put quotes around the search terms you pass in

def basic_google_search(search_term, api_key, cse_id, **kwargs):
    service = build("customsearch", "v1", developerKey=api_key)
    res = service.cse().list(q=search_term, cx=cse_id, **kwargs).execute()#res is of type dict
    #^can have more arguments, e.g. number of results to store
    #print(type(res))
    return res['queries']
    #return res['queries']['request'][0]['totalResults'] #note that the number is of type str
    #^commented out bc want more info available potentially - can be more specific for jaccard
    
    #https://developers.google.com/custom-search/json-api/v1/reference/cse/list #how list method works
    
def exact_google_search(search_term, api_key, cse_id, **kwargs):
    service = build("customsearch", "v1", developerKey=api_key)
    res = service.cse().list(q=search_term, exactTerms=search_term, cx=cse_id, **kwargs).execute()#res is of type dict
    #^can have more arguments, e.g. number of results to store
    #print(type(res))
    return res['queries']


def jaccard_google_search(search_term1, search_term2, api_key, cse_id, **kwargs):
    
    results = basic_google_search(search_term1, api_key, cse_id, **kwargs)
    num1 = results['request'][0]['totalResults'] #note that the number is of type str
    results = basic_google_search(search_term2, api_key, cse_id, **kwargs)
    num2 = results['request'][0]['totalResults'] #note that the number is of type str
    
    service = build("customsearch", "v1", developerKey=api_key)
    strBoth = search_term1 + ' ' + search_term2
    #how do you put multiple phrases in as exactTerms? idk if that's possible... #outdated comment
    results = basic_google_search(strBoth, api_key, cse_id, **kwargs)
    numCommon = results['request'][0]['totalResults'] #note that the number is of type str
    
    num1 = int(num1)
    num2 = int(num2)
    numCommon = int(numCommon)
    #print('num results for str1:' + str(num1) )
    #print('num results for str2:' + str(num2) )
    #print('num results in common:' + str(numCommon) )
    
    #sometimes denominator was 0. try except ZeroDivionError.
    try:
        jacInd = numCommon /(num1+num2-numCommon) #can still use / for regular division, but want decimals here.
    except ZeroDivisionError:
        jacInd = -1
    
    try:
        divMin = numCommon / min(num1, num2)
    except ZeroDivisionError:
        divMin = -1
    try:
        divProd = numCommon / (num1*num2)
    except:
        divProd = -1
    #retList is of format: num results for str1, num results for str2, num results in common, the Jaccard index,
    #the intersection / the min, and the intersection / the product
    retList = [num1, num2, numCommon, jacInd, divMin, divProd]
    return retList

print('done')

import urllib2

#choose the first of the following two lines if it's the very start / origination of the file. Otherwise go with second
dfRes = pd.DataFrame(columns = ["str1", "str2", "num_corecips", "num1", "num2", "numCommon", "jacInd", "var1", "var2"])
#dfRes = pd.read_csv('./co_donor_google_queries_fin.csv')

counter = 0
#'''
#try:
for edge in all_edges_to_sample:
    print(counter)
    counter = counter + 1
    name1 = '"' + edge[0] + '"'
    name2 = '"' + edge[1] + '"'

    res = jaccard_google_search(name1, name2, my_api_key, my_cse_id, num=1)#note that the property is called codonors
    #so that it's the same as in the other graph, but it actually represents number of corecipients.
    dfRow = pd.DataFrame([[edge[0], edge[1], (edge[2])['number_of_codonors'], res[0], res[1], res[2], res[3], res[4], res[5]]], 
                       columns = ["str1", "str2", "num_corecips", "num1", "num2", "numCommon", "jacInd", "var1", "var2"])

    dfRes = dfRes.append(dfRow, ignore_index=True)
#'''

dfRes.to_csv('./co_recip_google_queries_fin_mac2_1.csv')
print("done")

In [ ]:
#dfRes.to_csv('./co_recip_google_queries_fin_1.csv')
#print('done')